node-red_telematics
[{"id":"460215a5.44980c","type":"tab","label":"Flow MQTT","disabled":false,"info":""},{"id":"aa215b81.757e98","type":"tab","label":"Flow Lora","disabled":false,"info":""},{"id":"7404af50.364ee","type":"mqtt-broker","z":"","name":"MapMyMotion","broker":"mapmymotion.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"34536429.456b5c","type":"ui_tab","z":"460215a5.44980c","name":"Home","icon":"dashboard"},{"id":"1341ab0d.80c265","type":"ui_group","z":"","name":"Temperature/Humidity","tab":"20c4b993.e41b76","order":2,"disp":true,"width":"6","collapse":false},{"id":"fcc1fbbf.66bab8","type":"mqtt-broker","z":"","name":"MapMyMotion","broker":"mapmymotion.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"20c4b993.e41b76","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"cdd3868c.534158","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"24b9ed76.244bf2","type":"ui_group","z":"","name":"CO2 Sensor Info","tab":"20c4b993.e41b76","order":1,"disp":true,"width":"6","collapse":false},{"id":"f2437346.011d4","type":"ttn app","z":"aa215b81.757e98","appId":"draginonode_01","accessKey":"ttn-account-v2.-O39YcGEt-hG3bazm9Y7JBkzNK6FvyO4OqmEZt5_T88","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"7da39419.878c7c","type":"mongodb","z":"","hostname":"96.31.86.129","port":"27017","db":"TroyTelematics","name":"troy_mongo"},{"id":"24e8ed49.6fe342","type":"MySQLdatabase","z":"","host":"96.31.86.129","port":"3306","db":"troytelematics","tz":""},{"id":"1c7b6079.70112","type":"ui_tab","z":"","name":"testing","icon":"dashboard"},{"id":"d7831e9e.d7d19","type":"ui_tab","z":"","name":"testing","icon":"dashboard"},{"id":"6c6dd01f.97715","type":"mqtt in","z":"460215a5.44980c","name":"MapMyMotion Mqtt","topic":"TT/#","qos":"0","broker":"7404af50.364ee","x":119,"y":112,"wires":[["a0f63673.396b18"]]},{"id":"8ac453d6.0d1f7","type":"debug","z":"460215a5.44980c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":667,"y":338,"wires":[]},{"id":"75cf4043.a12b1","type":"ui_gauge","z":"460215a5.44980c","name":"","group":"1341ab0d.80c265","order":0,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"%","format":"{{msg.payload.payM}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"80","x":608,"y":177,"wires":[]},{"id":"a0f63673.396b18","type":"json","z":"460215a5.44980c","name":"","property":"payload","action":"","pretty":true,"x":305,"y":147,"wires":[["d5d4631d.ca727","8ac453d6.0d1f7","8264c143.860d7"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"5dc65d35.c60204","type":"function","z":"aa215b81.757e98","name":"function","func":"var utime = parseInt(new Date().getTime()/1000);\nreturn {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    schedule: \"replace\",\n    confirmed: false,\n    payload: {\n        led: !msg.led,\n        utime:utime\n    },\n}","outputs":1,"noerr":0,"x":186,"y":187,"wires":[["f1638b7c.b832e8","7089f385.693a3c"]]},{"id":"bde9be24.aacec","type":"debug","z":"aa215b81.757e98","name":"uplink","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":363,"y":108,"wires":[]},{"id":"7089f385.693a3c","type":"debug","z":"aa215b81.757e98","name":"function","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":552,"y":137,"wires":[]},{"id":"d236ed42.b1b95","type":"ttn uplink","z":"aa215b81.757e98","name":"Dragino","app":"f2437346.011d4","dev_id":"dragino_node1","field":"","x":61,"y":106,"wires":[["5dc65d35.c60204","bde9be24.aacec","d076e31c.09d1","792a6d87.df1824","7dbb53bb.a1529c","14c0c00f.dbe67"]]},{"id":"f1638b7c.b832e8","type":"ttn downlink","z":"aa215b81.757e98","name":"","app":"f2437346.011d4","dev_id":"dragino_node1","port":"1","confirmed":true,"schedule":"replace","x":535,"y":191,"wires":[]},{"id":"452f3097.5fc7f","type":"mysql","z":"460215a5.44980c","mydb":"24e8ed49.6fe342","name":"insert_sql","x":658,"y":380,"wires":[[]]},{"id":"d076e31c.09d1","type":"ui_gauge","z":"aa215b81.757e98","name":"gas_ratio","group":"24b9ed76.244bf2","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas Ratio","label":"%","format":"{{msg.payload.ratio}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":439,"y":340,"wires":[]},{"id":"792a6d87.df1824","type":"ui_gauge","z":"aa215b81.757e98","name":"rs_gas","group":"24b9ed76.244bf2","order":0,"width":0,"height":0,"gtype":"gage","title":"RS_Gas","label":"%","format":"{{msg.payload.rs_gas}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":439,"y":374,"wires":[]},{"id":"7dbb53bb.a1529c","type":"ui_gauge","z":"aa215b81.757e98","name":"voltage","group":"24b9ed76.244bf2","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"Volts","format":"{{msg.payload.voltage}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":411,"wires":[]},{"id":"d5d4631d.ca727","type":"function","z":"460215a5.44980c","name":"Flow Control","func":"var output=\"\";\nvar payM,payH,payT;\npayM=flow.get('payM');\npayT=flow.get('payT');\npayH=flow.get('payH');\nvar i_utime=msg.payload.utime;\nvar i_macid=msg.payload.macid;\n\narraySize=msg.payload.readings.length;\nfor(var i=0;i<arraySize;i++){\n    switch(msg.payload.readings[i].type) {\n    case \"T\":\n        payT=msg.payload.readings[i].value;\n        flow.set('payT',payT);\n        output +=\"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ msg.payload.readings[i].type+\"',\"+msg.payload.readings[i].value+\",'\"+msg.payload.readings[i].uom+\"');\";\n        break;\n    case \"H\":\n        payH=msg.payload.readings[i].value;\n        flow.set('payH',payH);\n        output +=\"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ msg.payload.readings[i].type+\"',\"+msg.payload.readings[i].value+\",'\"+msg.payload.readings[i].uom+\"');\";\n        break;\n    case \"M\":\n        payM=msg.payload.readings[i].value;\n        flow.set('payM',payM);\n        output +=\"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ msg.payload.readings[i].type+\"',\"+msg.payload.readings[i].value+\",'\"+msg.payload.readings[i].uom+\"');\";\n        break;\n    default:\n       // break;\n    }\n}\n\nmsg.payload={payM,payT,payH};\nmsg.topic=output;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":335,"wires":[["75cf4043.a12b1","452f3097.5fc7f","752e0588.a8cbcc","460f01bc.4dda6"]]},{"id":"460f01bc.4dda6","type":"ui_gauge","z":"460215a5.44980c","name":"","group":"1341ab0d.80c265","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%H","format":"{{msg.payload.payH}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"80","x":606,"y":130,"wires":[]},{"id":"752e0588.a8cbcc","type":"ui_gauge","z":"460215a5.44980c","name":"","group":"1341ab0d.80c265","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":" ° C","format":"{{msg.payload.payT}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"80","x":615,"y":79,"wires":[]},{"id":"f37beee4.61804","type":"config","z":"460215a5.44980c","name":"pay","properties":[{"p":"payM","pt":"flow","to":"0","tot":"num"},{"p":"payT","pt":"flow","to":"0","tot":"num"},{"p":"payH","pt":"flow","to":"0","tot":"num"}],"active":true,"x":82,"y":46,"wires":[]},{"id":"8264c143.860d7","type":"mongodb out","z":"460215a5.44980c","mongodb":"7da39419.878c7c","name":"Mongo Save","collection":"readings","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":685,"y":441,"wires":[]},{"id":"14c0c00f.dbe67","type":"function","z":"aa215b81.757e98","name":"SQL","func":"var i_macid = msg.payload.macid;\nvar i_utime = parseInt(new Date().getTime()/1000);\nvar i_ratio=msg.payload.ratio;\nvar i_rs_gas=msg.payload.rs_gas;\nvar i_volt=msg.payload.voltage;\nvar i_typeG1=\"RA\";\nvar i_typeG2=\"RS\";\nvar i_typeG3=\"GV\";\nvar i_uomG1=\"P\";\nvar i_uomG2=\"F\";\nvar i_uomG3=\"I\";\nvar sql=\"\";\nsql += \"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ i_typeG1+\"',\"+i_ratio+\",'\"+i_uomG1+\"');\";\nsql += \"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ i_typeG2+\"',\"+i_rs_gas+\",'\"+i_uomG2+\"');\";\nsql += \"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ i_typeG3+\"',\"+i_volt+\",'\"+i_uomG3+\"');\";\n\nmsg.topic=sql;    \nreturn msg;","outputs":1,"noerr":0,"x":531,"y":269,"wires":[["2a8253b8.41a58c","410a086a.2c29b8"]]},{"id":"2a8253b8.41a58c","type":"mysql","z":"aa215b81.757e98","mydb":"24e8ed49.6fe342","name":"insert_sql","x":681,"y":274,"wires":[[]]},{"id":"410a086a.2c29b8","type":"debug","z":"aa215b81.757e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":661,"y":352,"wires":[]}]